html, body {
	margin:0;
	padding:0;
	height:100%;
	font-family: 'Ubuntu', sans-serif;
}

li {
	font-size: large;
}

.container {
	min-height:100%;
	position:relative;
}

.title {
	display: inline-block;
	padding: 0 15px 0 0;
	color: darkred;
	text-shadow: 0 2px 5px black;
}

.nav {
	background: #d3d3d300;
	padding: 10px;
	width: -webkit-fill-available;
	width: -moz-available;
}

.nav-sec {
	display: inline-block;
	padding: 5px 10px 10px 10px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 10px 5px;
	color: darkred;
}

.nav-sec:hover {
	text-decoration: underline;
}

#stickyNav {
    
}

#header {
	text-decoration: underline;
	padding: 10px;
	text-align: center;
}

#body {
	padding:10px;
	padding-bottom:100px;   /* Height of the footer */
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: #dedede;
	border-top: 1px solid darkred;
}

.pic {
	display: block;
	max-width: 470px;
	margin: 5px auto;
	padding: 10px 0 10px 0;
	border: 2px solid black;
	background: white;
}

.sec {
	margin: 0 auto;
	padding: 0 0 5px 0;
	max-width: 500px;
	box-shadow: 0px 0px 6px 2px #b3b1b1;
}

.sec:hover {
	cursor: pointer;
}

#backup {
	display: none;
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 35px;
	height: 35px;
}

#backup i {
	font-size: 34px;
	color: darkred;
}

/* Tooltips */

.sec .tooltiptext {
	visibility: hidden;
    width: 140px;
    color: darkred;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.2s;
}

/* Tooltip arrow */
.sec .tooltiptext:after {
	content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.sec:hover .tooltiptext {
	visibility: visible;
    opacity: 1;
}

a {
	text-decoration: none;
}