html, body {
	margin:0;
	padding:0;
	height:100%;
}

.container {
	min-height:100%;
	position:relative;
}

.title {
	display: inline-block;
	padding: 0 15px;
}

.nav {
	background: #d3d3d300;
	padding: 10px;
}

.nav-sec {
	display: inline-block;
	padding: 10px 10px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 10px 5px;
	background: #d3d3d3bf;
}

#stickyNav {
    
}

#header {
	text-decoration: underline;
	padding: 10px;
	text-align: center;
}

#body {
	padding:10px;
	padding-bottom:100px;   /* Height of the footer */
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: lightgrey;
}

.pic {
	display: block;
	max-width: 470px;
	margin: 25px auto;
	padding: 10px 0 10px 0;
	border: 2px solid black;
	background: white;
}

.sec {
	margin: 0 auto;
	max-width: 500px;
}

.sec:hover {
	cursor: pointer;
}

#backup {
	display: none;
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 35px;
	height: 35px;
}

#backup i {
	font-size: 34px;
}

/* Tooltips */

.sec .tooltiptext {
	visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.5s;
}

/* Tooltip arrow */
.sec .tooltiptext:after {
	content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.sec:hover .tooltiptext {
	visibility: visible;
    opacity: 1;
}

a {
	text-decoration: none;
}